@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply bg-light text-dark dark:bg-dark dark:text-light w-full min-h-screen overflow-x-hidden;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

:root {
    --color-gray-line: #CCCCCC; 
}

.dark {
    --color-gray-line: #302C2C; 
}

@layer utilities {
  
  .font2 {
    font-size: 32px;
    line-height: 39px;
  }
  .font3 {
    font-size: 12px;
    line-height: 16px;
  }
  .font4 {
    font-size: 12px;
    letter-spacing: 2px
  }
  .font5 {
    font-size: 24px;
    line-height: 33px;
  }
  .font6 {
    font-size: 45px;
    line-height: 54px;
  }
  .font7 {
    font-size: 24px;
  }
  .font8{
    font-size: 75px;
    line-height: 91px;
  }
  .font9{
    font-size:10px;
    letter-spacing: 2px;
  }
  @media (min-width:1440px) {
    .font1{
      font-size: 180px;
      line-height: 218px;
    }
    .font2{
      font-size: 32px;
      line-height: 39px;
    }
    .font3 {
      font-size: 16px;
     line-height: 19px;
    }
    .font4 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px
  }
     .font6 {
    font-size: 60px;
    line-height: 73px;
  }
  .font7{
    font-size: 30px;
  }
     .font8 {
      font-size: 180px;
      line-height: 218px;
    }
    .font9{
    font-size: 16px;
    letter-spacing: 2px;
   }
  }
}

